#title{
  background-color: #FF4C68;
color: white;

}
body{
  font-family: "Montserrat"
}

.container-fluid{
  padding: 3% 11%;
}

h1{
font-family: 'Montserrat-Black', sans-serif;

font-size: 4rem;
line-height: 1.2

}

h3  {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 2.5rem;
line-height: 1.5;
font-weight: bold;
}

.navbar{
padding-bottom:4rem;
}

.navbar-brand{
  font-size: 2rem;
  font-family:  "Ubuntu";
  font-weight: bold;
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.nav-item{
  padding: 0px 15px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light"
}

.phoneimg{
  width: 60%;
  transform: rotate(25deg);
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#features{
background-color: white;
  margin: 7% auto;
  text-align: center;
  width: 80%;


}
.featuretext{
  color: #8f8f8f;
}
.featuresectimg{
  color: #ef8172;
  font-size: 4.6rem;
  padding-bottom: 1.5rem;
  padding-top: 1.2rem;
}

.featuresectimg:hover{
  color : #FF4C68;

}

#testimonials{
  position: relative;
  text-align: center;
color: white;
background-color:#ef8172;
}
.carousel-item{
    padding: 4% ;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 1.5rem;
}
#press{
  text-align: center;
  background-color:#ef8172;
  padding-bottom: 3%;
}
.press-logos{

  width: 12%;
  margin:0 25px;
}


#pricing{
  padding: 50px 100px;
  text-align: center;
}

.price-card{
  margin : 4% 2%;
}

@media (max-width: 1000px) {
  #title{
    text-align: center;
  }
.phoneimg{
  transform: rotate(0);
}
}

#cta{
background-color: #FF4C68;
text-align: center;
padding:  5% 20%;
}

.ctabtn{
margin: 2%
}
.ctaheadling{
  font-family: 'Montserrat-black', sans-serif;
color: white;
font-size: 2.5rem;
line-height: 1.5;
}

#footer{
padding:  5% 20%;
text-align: center;
font-size: 1rem;

}
.footericon{
  margin: 1% 1% 3% 1%;

}
.copyrightpara
{

font-size: 0.8rem;
}
